/*=====LANDING PAGE =====*/
body{
    background: linear-gradient(rgb(238, 155, 196), rgb(248, 251, 161));
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand img {
    border-radius: 50%;
}

.container-fluid{
    background-color: antiquewhite;
}

.hero{
    background: url('fashion.jpg') center;
    height: 100vh;
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: rgb(255, 255, 255);
    margin: 0;
}

p{
    margin: 10px 0 20px;
}

a, button
{
      color: rgb(17, 17, 17);
      padding: 10px 25px;
      border-radius: 20px;
      transition: 0.3s ease;
}

a:hover, button:hover
{
    background-color: #62633e;
    transform: scale(1.05);
    text-decoration: underline;

}


.overlay {
  z-index: 2;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 10px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.content{
    flex:1;
    background-color: rgb(207, 221, 190);
    border-radius: 15px;
    margin-left: 15px;
    padding-left: 15px;
    box-shadow: #333;
}

.img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.trends {
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
}

.inspo-container, .inspo-container2 {
  display: flex;            
  justify-content: center;  
  gap: 20px;       
}

.card {
  width: 18rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.capt{
    margin: 15px;
    padding: 5px;
    background-color: #a3e3d7;
    border-radius: 15px;
    box-shadow: #333;
}

footer {
  margin-top: auto; 
  background: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #f0c5d0;            
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/*=======ABOUT US PG========*/
.carousel {
  max-width: 900px;   
  margin: 40px auto;    
  border-radius: 12px;  
  overflow: hidden;     
}

.carousel-item img {
  height: 400px;       
  object-fit: cover;    
  width: 100%;
}

.about{
    padding: 20px;
    margin: 20px;
}
.about-text{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #a3e3d7;
    border-radius: 15px;
}

.highlight {
  background-color: #dbb7ec; 
  padding: 2px 5px;        
  border-radius: 4px;        
  font-weight: bold;          
}
.background {
  background-color: #f0efc5;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.background-info1,
.background-info2,
.background-info3,
.background-info4 {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.background-info1 h2,
.background-info1 h3,
.background-info2 h3,
.background-info3 h3 {
  color: #0f09be;
}

.background-info4 {
  background: #d098ee;
  padding: 50px 30px;
  border-radius: 12px;
  color: white;
  max-width: 900px;
  margin-bottom: 40px;
}

/*========REGIS, LOGIN, FORM, INPUT======*/
.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px); /* supaya tidak ganggu navbar + footer */
}

.regis-pg, .login-pg, .form-pg, .updte-pg, .container-pg {
  background-image: url('bgreg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.regis-box, .form-input {
  background: whitesmoke;
  text-align: center;
  padding: 40px 50px;
  width: 500px;
  margin: 50px auto;  
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.login-box{
  background: whitesmoke;
  text-align: center;
  padding: 40px 50px;
  width: 500px;
  margin: 110px auto;  
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.updte-box {
  text-align: center;
  background: whitesmoke;
  padding: 40px 50px;
  width: 600px;
  margin: 40px auto;  
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}


.container{
  background: whitesmoke;
  padding: 40px 50px;
  width: 1000px;
  margin: 40px auto;  
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.regis-box h2, .login-box h2, .form-input h2, .container h2, .container h3, .updte h2 {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.regis-box button, .login-box button, .form-input button, .container button, .updte button {
    color: rgb(14, 14, 14); 
}



/* ====== TABLE LAYOUT ====== */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
  border: 1px solid #8e8e8e;
    padding: 10px ;
    color: #333;
    text-align: center;
}

table a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    color: #6a0dad; 
    text-decoration: underline;
}




